@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.page-content {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 600px;
  padding: 0;
}

.btn {
  background: #8590a9;
  color: white;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: white;
  color: #8590a9;
  border: 1px solid #8590a9;
}

.btn:focus {
  outline: none;
}

.input-group {
  padding-bottom: 15px;
}

.new-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.chat-message {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#eff4fc, #eef3fb);
  padding: 15px;
  border-bottom: 2px solid #e4e9f0;
  color: #828699;
}