.container {
  max-width: 600px;
}

.btn {
  background: #43d9be;
  color: white;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: white;
  color: #43d9be;
  border: 1px solid #43d9be;
}

.btn:focus {
  outline: none;
}

.input-group {
  padding-bottom: 15px;
}

.new-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}